@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&family=Roboto&family=Sarabun&display=swap');

.about-section {
    padding: 100px;
    text-align: center;
    font-weight: 500px;
    background-color: #868686;
    color: white;
}

.about-section-2 {
    padding: 20px 60px;
    text-indent: 70px;
    font-size: 1.5rem;
    font-family: 'Kanit';
    letter-spacing: 1.2px;
}

/* .container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
} */

.card {
    width: 30%;
    margin: 30px auto;
    padding: 50px 0;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    float: none;
}

.members {
    text-align: center;
    font-family: 'Kanit';
}

.link {
    margin: 50px 0;
    text-align: center;
    font-family: 'Roboto';
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
