{% extends "main/layout.html" %} {% block body %}
<title>Add category</title>

{% load static %}
<div class="container"></div>
    <div class="card text-center">
        <div class="card-header">
            <h1>Add Category</h1>
        </div>
        <div class="card-body">
            <div class="form-group mx-auto">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
