{% extends "main/layout.html" %}

{% block body %}
<title>Create Tour | GuideToGo</title>

{% load static %}
{% load crispy_forms_tags %}
<style>
    .container {
        padding: 70px 0;
    }

    .user_card {
        margin: 0 150px;
        padding: 30px 80px;
        border-radius: 10px;
        background-color: #dfdfdfd0;
    }

    label {
        padding-top: 20px;
    }

    #id_province {
        padding: 5px;
        width: 100%;
        border-radius: 5px;
        
    }

    #id_img {
        width: 100%;
    }

    #id_snippet {
        height: 150px;
        padding: 5px;
        width: 100%;
        border-radius: 8px;
    }
</style>

    <div class="container h-100">
        <div class="user_card">
            <a class="btn btn-dark me-auto" role="button" href="{% url 'tour:my_tour' %}">Back</a>
    
            <div class="d-flex justify-content-center">
                <h3 id="form-title">Create Your Tour</h3>
            </div>

            <div class="justify-content-center form_container">
                <form method="POST" action="{% url 'tour:create_tour' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        <label for="id_t_name">Title:</label>
                        {{ form.t_name }}
                        <label for="id_province">Tour Area:</label>
                        {{ form.province }}
                        <label for="id_price">Price:</label>
                        {{ form.price }}
                        <label for="id_amount">Amount:</label>
                        {{ form.amount }}
                        <label for="id_period">Period (hours):</label>
                        {{ form.period }}
                        <label for="id_img">Cover Image:</label>
                        {{ form.img }}
                        <label for="id_snippet">Snippet:</label>
                        {{ form.snippet }}
                        <label for="id_information">Detail:</label>
                        {{ form.information }}

                        <br>
                        <input class="btn btn-dark w-100" type="submit" value="Create Tour" onclick="return confirm('Please check the tour information again.')">
                </form>
            </div>
        </div>
    </div>

<!-- <script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[2].placeholder='Title';
    form_fields[3].placeholder='Price';
    form_fields[4].placeholder='Amount';
    form_fields[5].placeholder='Period';

    for (var field in form_fields) {	
        form_fields[field].className += ' form-control'
    }
</script> -->
{% endblock %}
