{% extends 'main/layout.html' %}

{% block body %}
<title>Login | GuideToGo</title>

<div class="login">

    <div class="content">

        <form action="{% url 'tour:login' %}" method="post" class="form1">
            {% csrf_token %}
            <h3>Login</h3>
            <div class="userpass">
                <input type="text" name="username" placeholder="Username" class="user">
                <input type="password" name="password" placeholder="Password" class="pass">
            </div>
            <div class="button">
                <input type="submit" value="SIGN IN" class="button1">
                <br><br>
                <a href="/admin" class="button2">Admin Login Site ></a>
            </div>
        </form>
    
    </div>  
</div>

{% endblock %}
