{% extends "main/layout.html" %}

{% block body %}
<title>{{ request.user.username.title }}'s Tour | GuideToGo</title>

{% load static %}
<style>
    /* .card {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    } */
</style>

    <!-- Section-->
    <section class="py-1">
        <div class="container px-4 px-lg-5 mt-5">
            <br>
            <h1><a class="btn btn-outline-dark bd-highlight mb-2" role="button" href="{% url 'main:home' %}"><i class="fa-solid fa-chevron-left"></i> <i class="fa-solid fa-house"></i></a><span class="ms-4">{{ request.user.username.title }}'s Tour</h1>
            <br>
            <h3>Number of Tours: <span class="text-primary">{{ count }}</span></h3>
            
            {% if user.is_guide %}
                <a class="btn btn-primary w-100 p-3 mt-3 mb-4" role="button" href="{% url 'tour:create_tour' %}">Create New Tour <i class="fa-solid fa-plus"></i></a>
            {% endif %}

            <div class="row gx-4 gx-lg-4 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for t in my_tour %}
                <div class="col mb-5">
                    <div class="card border-light h-100 shadow-sm">
                        <!-- Top badge-->
                        <!-- <div class="badge bg-transparent text-white position-absolute" style="top: 0.5rem; right: 0.5rem; font-size: 16px; letter-spacing: -2px;">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div> -->
                        <!-- Tour image-->
                        {% if t.tour.img %}
                            <img class="card-img-top" src="{{ t.tour.img.url}}" alt="..." />
                        {% endif %}
                        <!-- Tour details-->
                        <div class="card-body p-4">
                            <div class="text-start">
                                <!-- Tour name-->
                                <h5 class="fw-bolder text-truncate">{{ t.tour.t_name }}</h5>
                                <!-- Tour reviews-->
                                <div class="d-flex justify-content-start small text-warning mb-2" style="font-size: 12px; letter-spacing: 2px;">
                                    {% if t.tour.avg_rating > 4  %}
                                    <i class="fa-solid fa-star pt-1"></i>
                                    <i class="fa-solid fa-star pt-1"></i>
                                    <i class="fa-solid fa-star pt-1"></i>
                                    <i class="fa-solid fa-star pt-1"></i>
                                    <i class="fa-solid fa-star pt-1"></i>
                                    {% elif t.tour.avg_rating > 3  %}
                                    <i class="fa-solid fa-star pt-1"></i>
                                    <i class="fa-solid fa-star pt-1"></i>
                                    <i class="fa-solid fa-star pt-1"></i>
                                    <i class="fa-solid fa-star pt-1"></i>
                                    {% elif t.tour.avg_rating > 2  %}
                                    <i class="fa-solid fa-star pt-1"></i>
                                    <i class="fa-solid fa-star pt-1"></i>
                                    <i class="fa-solid fa-star pt-1"></i>
                                    {% elif t.tour.avg_rating >  1  %}
                                    <i class="fa-solid fa-star pt-1"></i>
                                    <i class="fa-solid fa-star pt-1"></i>
                                    {% else %}
                                    <i class="fa-solid fa-star pt-1"></i>
                                    {% endif %}
                                </div>
                                <!-- Tour info-->
                                <p class="card-text text-truncate pt-2">{{ t.tour.snippet }}</p>
                                <div class="d-flex flex-row justify-content-start">
                                    <button type="button" class="btn btn-outline-secondary btn-sm mb-2" disabled>{{ t.tour.province }}</button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm mb-2 ms-1" disabled>{{ t.tour.period }} hours</button>
                                </div>
                                <small class="card-subtitle text-muted">Last Updated: {{ t.tour.date }}</small> 
                                <br>
                                <br>
                                <center><h5 class="fw-bolder text-danger"> your payment is {{ t.verify_member }} </h5></center>
                            </div>
                        </div>
                        <!-- Tour actions-->
                        <div class="card-footer border-top-0">
                            {% if t.verify_member == 'not_verified' %}
                            <div class="d-flex flex-row bd-highlight m-1 justify-content-center text-center">
                                <a class="btn btn-outline-dark m-2 bd-highlight" role="button" href="{% url 'tour:view_tour' t.tour.id %}"><i class="fa-solid fa-eye p-1"></i></a>
                                <a class="btn btn-outline-danger m-2 bd-highlight" role="button" href="{% url 'tour:book_member_delete' t.id %}" onclick="return confirm('Are you sure to remove this tour?')"><i class="fa-solid fa-trash-can p-1"></i></a>
                            </div>
                            {% else %}
                            <div class="d-flex flex-row bd-highlight m-1 justify-content-center text-center">
                                <a class="btn btn-outline-dark m-2 bd-highlight" role="button" href="{% url 'tour:view_tour' t.tour.id %}"><i class="fa-solid fa-eye p-1"></i></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    

{% endblock %}
