{% extends "main/layout.html" %} {% block body %} {% load static %}


    <style>
      body {
        color: #566787;
        background: #f5f5f5;
        /* font-family: "Varela Round", sans-serif; */
        font-size: 13px;
      }
      .table-responsive {
        margin: 30px 0;
      }
      .table-wrapper {
        min-width: 1000px;
        background: #fff;
        padding: 20px 25px;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      }
      .table-title {
        padding-bottom: 15px;
        background: #202020;
        color: #fff;
        padding: 16px 30px;
        margin: -20px -25px 10px;
        border-radius: 3px 3px 0 0;
      }
      .table-title h2 {
        margin: 5px 0 0;
        font-size: 24px;
      }
      .table-title .btn {
        color: #566787;
        float: right;
        font-size: 13px;
        background: #fff;
        border: none;
        min-width: 50px;
        border-radius: 2px;
        border: none;
        outline: none !important;
        margin-left: 10px;
      }
      .table-title .btn:hover,
      .table-title .btn:focus {
        color: #566787;
        background: #f2f2f2;
      }
      .table-title .btn i {
        float: left;
        font-size: 21px;
        margin-right: 5px;
      }
      .table-title .btn span {
        float: left;
        margin-top: 2px;
      }
      table.table tr th,
      table.table tr td {
        border-color: #e9e9e9;
        padding: 12px 15px;
        vertical-align: middle;
      }
      table.table tr th:first-child {
        width: 60px;
      }
      table.table tr th:last-child {
        width: 100px;
      }
      table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
      }
      table.table-striped.table-hover tbody tr:hover {
        background: #f5f5f5;
      }
      table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
      }
      table.table td:last-child i {
        opacity: 0.9;
        font-size: 22px;
        margin: 0 5px;
      }
      table.table td a {
        font-weight: bold;
        color: #20247b;
        display: inline-block;
        text-decoration: none;
      }
      table.table td a:hover {
        color: #f58e2e;
      }
      table.table td a.settings {
        color: #2196f3;
      }
      table.table td a.delete {
        color: #f44336;
      }
      table.table td i {
        font-size: 19px;
      }
      table.table .avatar {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
      }
      .status {
        font-size: 30px;
        margin: 2px 2px 0 0;
        display: inline-block;
        vertical-align: middle;
        line-height: 10px;
      }
      .text-success {
        color: #10c469;
      }
      .text-info {
        color: #62c9e8;
      }
      .text-warning {
        color: #ffc107;
      }
      .text-danger {
        color: #ff5b5b;
      }
      .pagination {
        float: right;
        margin: 0 0 5px;
      }
      .pagination li a {
        border: none;
        font-size: 13px;
        min-width: 30px;
        min-height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 2px !important;
        text-align: center;
        padding: 0 6px;
      }
      .pagination li a:hover {
        color: #666;
      }
      .pagination li.active a,
      .pagination li.active a.page-link {
        background: #03a9f4;
      }
      .pagination li.active a:hover {
        background: #f58e2e;
      }
      .pagination li.disabled i {
        color: #ccc;
      }
      .pagination li i {
        font-size: 16px;
        padding-top: 6px;
      }
      .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
      }
      .label {
        border-radius: 3px;
        font-size: 0.875em;
        font-weight: 600;
      }
    </style>
    <script>
      $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>

  <body>
    <div class="container-xl">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-5">
                <h2>Tour Booking <b>Management</b></h2>
              </div>
              <!-- <div class="col-sm-7">
                        <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE147;</i> <span>Add New User</span></a>
                        <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE24D;</i> <span>Export to Excel</span></a>						
                    </div> -->
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr class="fs-6">
                <th>Name</th>
                <th>Date Booked</th>
                <th>Role</th>
                <th>Tour</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for book in bookTour %}
              <tr class="fs-6">
                <!-- {{ book.member.member.member_image.url}} -->
                <td>
                  <a href="#"
                    ><img
                      src="{{ book.member.member.member_image.url}}"
                      class="avatar img-fluid"
                      alt="Avatar"
                    />{{ book.member.first_name.title}} {{ book.member.last_name.title}}</a
                  >
                </td>
                <td>{{ book.created_at }}</td>
                <td>member</td>
                <td><a href="{% url 'tour:view_tour' book.tour.id %}">{{ book.tour.t_name}}</a></td>
                <td>
                  {% if book.verify_member == "verified" %}
                  <span class="badge bg-success fs-6">verified</span>
                  {% elif book.verify_member == "denied" %}
                  <span class="badge bg-danger fs-6">denied</span>
                  {% elif book.verify_member == "not_verified" %}
                  <span class="badge bg-secondary fs-6">not verified</span>
                  {% endif %}
                </td>
                <td>
                  <form
                    method="POST"
                    action="{% url 'tour:change_status' book.id %}"
                  >
                    {% csrf_token %}
                    <div class="container">
                      <div class="row">
                        <div class="col-sm">
                          <button
                            class="btn btn btn-outline-success fa-solid fa-circle-check mt-2 w-100"
                            type="submit"
                            name="status"
                            value="verified"
                          ></button>
                        </div>

                        <div class="col-sm">
                          <button
                            class="btn btn btn-outline-danger fa-solid fa-circle-xmark mt-2 w-100"
                            type="submit"
                            name="status"
                            value="denied"
                          ></button>
                        </div>
                        <div class="col-sm">
                          <button
                            class="btn btn btn-outline-secondary fa-solid fa-hourglass-start mt-2 w-100"
                            type="submit"
                            name="status"
                            value="not_verified"
                          ></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </td>
                <!-- <td>
                            <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                        </td> -->
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div> -->
        </div>
      </div>
    </div>
  </body>

{% endblock %}
