{% extends "main/layout.html" %}

{% block body %}
<title>Update Tour | GuideToGo</title>

{% load static %}
{% load crispy_forms_tags %}
<style>
    .container {
        padding: 70px 0;
        /* border: 1px solid red; */
    }

    .user_card {
        margin: 0 200px;
        padding: 30px 80px;
        border-radius: 10px;
        background-color: #dfdfdfd0;
    }

    /* .controls .textinput, .numberinput {
        padding: 5px;
        width: 100%;
        border-radius: 5px;
    } */

    .select {
        padding: 5px;
        width: 100%;
        border-radius: 5px;
    }

    #id_img {
        width: 100%;
    }

    .textarea {
        padding: 5px;
        width: 100%;
        border-radius: 10px;
        /* background-color: gray; */
    }
</style>

<div class="container h-100">
    <div class="user_card">
        <a class="btn btn-dark me-auto" role="button" href="{% url 'tour:my_tour' %}">Back</a>
        
        <div class="d-flex justify-content-center">
            <h3 id="form-title">Update Your Tour</h3>
        </div>

        <div class="justify-content-center form_container">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <br>
                <input class="btn btn-dark w-100" type="submit" value="Update Tour"
                    onclick="return confirm('Please check the tour information again.')">
                <br><br>
                <input class="btn btn-dark w-100" type="reset" value="Reset" onclick="return confirm('Reset?')">
            
            </form>
        </div>
    </div>
</div>

<script>
    const textarea = document.getElementById('id_information');
    const emoji1 = document.getElementById('emoji-1');

    // textarea.value += 'Locations:\n\n';

    emoji1.addEventListener('click', function handleClick() {
        textarea.value += '◼️ \n';
    });

    var form_fields = document.getElementsByTagName('input')
    form_fields[2].placeholder = 'Title';
    form_fields[3].placeholder = 'Price';
    form_fields[4].placeholder = 'Amount';
    form_fields[5].placeholder = 'Period';

    for (var field in form_fields) {
        form_fields[field].className += ' form-control'
    }

</script>
{% endblock %}
