{% extends "main/layout.html" %}

{% block body %}
<title>Tour Detail | GuideToGo</title>

{% load static %}

<style>
    .container {
        padding: 70px 0;
        /* border: 1px solid red; */
    }
</style>

<div class="container">

    {{ tour.img }}
    <h2>{{ tour.t_name }}</h2>
    <hr>
    <h3>{{ tour.guide.first_name }} {{ tour.guide.last_name }}</h3>
    <h5>Province: {{ tour.province }}</h5>
    <h5>Price: ฿{{ tour.price }} /per group</h5>
    <h5>Up to {{ tour.amount }} People</h5>
    <p class="text-start">{{ tour.information }}</p>
    <p>{{ tour.date }}</p>

    {% if check_owner == 1 %}
        <div class="d-flex flex-row bd-highlight mb-2 justify-content-start">
            <a class="btn btn-outline-primary bd-highlight" role="button" href="{% url 'tour:update_tour' tour.id %}"><i class="fa-solid fa-pen"></i> Update</a>
            <a class="btn btn-outline-danger ms-2 bd-highlight" role="button" href="{% url 'tour:remove_tour' tour.id %}" onclick="return confirm('Are you sure to remove this tour?')"><i class="fa-solid fa-trash-can"></i> Remove</a>
        </div>
        <a class="btn btn-outline-dark w-100" role="button" href="{% url 'tour:my_tour' %}">Back To My Tour Page</a>
        <br><br>
    {% elif check_owner == 1 or request.user.is_superuser %}
        <div class="d-flex flex-row bd-highlight mb-2 justify-content-start">
            <a class="btn btn-outline-danger ms-2 bd-highlight" role="button" href="{% url 'tour:remove_tour' tour.id %}" onclick="return confirm('Are you sure to remove this tour?')"><i class="fa-solid fa-trash-can"></i> Remove</a>
        </div>
    {% endif %}
        <a class="btn btn-dark w-100" role="button" href="{% url 'main:home' %}">Back To Home Page</a>
        <div class="all2">
          <div class="comment-con">
            <div class="comment">
      
              <h3>Review</h3>

              <form action="{% url 'tour:addreview' %}" method="POST" class="mb-3">
                {% csrf_token %}
                <div class="row">
                  <div class="col-sm-11">
                    <select hidden name="user" id="user"> <!--user ของอะไร-->
                      <option value="{{ tour.user }}">{{ tour.user }}</option>
                    </select>
                    
                    <select hidden name="name" id="name"> <!--user ของอะไร-->
                      <option value="{{ user.username }}">{{ user.username }}</option>
                    </select>
                    <input type="text" name="review" class="form-control" placeholder="Enter Your Comment">
      
                    <div class="rating">
                      <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                      </div>
                    </div>
      
                  </div>
      
                  <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
      
                </div>
              </form>
              
      
              {% for review in reviews %}
              <h5>{{ review.review_name }}</h5>
              {% if review.rating == 5 %}
              <p>⭐⭐⭐⭐⭐</p>
              {% elif review.rating == 4 %}
              <p>⭐⭐⭐⭐</p>
              {% elif review.rating == 3 %}
              <p>⭐⭐⭐</p>
              {% elif review.rating == 2 %}
              <p>⭐⭐</p>
              {% else %}
              <p>⭐</p>
              {% endif %}
              <p>{{ review.review_text }}</p>
              <p>{{ review.date }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
<!--      xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx               -->
</div>
{% endblock %}